body {
    font-family: TimesNewRoman, Tahoma;
    background-image: url(reWalls.com_28868.jpg);
}
ul.list li {
    display: inline;
    margin-right: 5px;

    padding: 3px
}
.main {
    text-align: center;
    width: 800px;
  
    margin: auto;
    padding: auto 0;
    margin-top: 150px;
}
img {
    margin-left: 40px;
}
.inf {

    margin-top: 50px;
}