body {
    font-family: TimesNewRoman, Tahoma;
    background-image: url(reWalls.com_28868.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}
#main {
    text-align: center;
    width: 360px;
    margin: auto;
    padding: auto 0;
    margin-top: 10px;
}
img {
    text-align: center;
}
.form_wrapper {
    margin-top: 50px;
}
ul.list li {
    list-style: none;
    margin-right: 5px;
    padding: 3px;
    text-align: left;
}
ul {
    margin: 0;
    padding: 0;
}