body {
    font-family: TimesNewRoman, Tahoma;
    background-color: #A9A9A9;
    /*border: 1px solid #808080;*/
    margin: 150px;
    padding: 150px;
    margin-left: 500px;
    margin-right: 500px
}
h2, ul {
    text-align: center;
}
ul.list {
    margin: 0;
    padding: 4px
}
ul.list li {
    display: inline;
    margin-right: 5px;
    border: 1px solid #A9A9A9;
    padding: 3px
}
