body {
    font-family: TimesNewRoman, Tahoma;
    background-image: url(reWalls.com_28868.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
ul.list li {
    display: inline;
    margin-right: 5px;
    padding: 3px
}
.main {
    text-align: center;
    width: 800px;
  
    margin: auto;
    padding: auto 0;
    margin-top: 150px;
}
img {
    margin-left: 40px;
}
.inf {
    margin-top: 30px;
}
#button {
    margin-top: 60px;
}
#foot {
    /*border: 1px solid black;*/
    margin-top: 279px;
    width: 1590px;
    height: 20px;
    background-color: #708090;
}