body {
    font-family: TimesNewRoman, Tahoma;
    background-image: url(reWalls.com_28868.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}
ul.list li {
    list-style: none;
    margin-right: 5px;
    padding: 3px;
    text-align: left;
}
.main {
    text-align: center;
    width: 360px;
  
    margin: auto;
    padding: auto 0;
    margin-top: 10px;
}
img {
    margin-left: 40px;
}
.inf {
    margin-top: 30px;
}
#button {
    margin-top: 60px;
}
#foot {
    border: 1px solid black;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #D3D3D3
}
.form_wrapper {
    border: 1px solid black;
    
}